<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOltdLCJkaXNwbGF5TmFtZSI6IkNvbG91ciIsInBh
		Y2thZ2VLaW5kIjp7InJvb3QiOnt9fSwicGxhdGZvcm1zIjpbeyJvcHRpb25z
		IjpbXSwicGxhdGZvcm1OYW1lIjoiaW9zIiwidmVyc2lvbiI6IjE2LjAifV0s
		InByb2R1Y3RzIjpbeyJuYW1lIjoiQ29sb3VyIiwic2V0dGluZ3MiOlt7ImJ1
		bmRsZUlkZW50aWZpZXIiOlsibGxjLmdvb2RoYXRzLmNvbG91ciJdfSx7InRl
		YW1JZGVudGlmaWVyIjpbIlFDNjhUN1pGNTMiXX0seyJkaXNwbGF5VmVyc2lv
		biI6WyIwLjAuMSJdfSx7ImJ1bmRsZVZlcnNpb24iOlsiMSJdfSx7ImlPU0Fw
		cEluZm8iOlt7ImFjY2VudENvbG9yIjp7InByZXNldENvbG9yIjp7InByZXNl
		dENvbG9yIjp7InJhd1ZhbHVlIjoicGluayJ9fX0sImFwcENhdGVnb3J5Ijp7
		InJhd1ZhbHVlIjoicHVibGljLmFwcC1jYXRlZ29yeS5kZXZlbG9wZXItdG9v
		bHMifSwiYXBwSWNvbiI6eyJwbGFjZWhvbGRlciI6eyJpY29uIjp7InJhd1Zh
		bHVlIjoicGFsZXR0ZSJ9fX0sImNhcGFiaWxpdGllcyI6W3sicHVycG9zZSI6
		InBob3RvTGlicmFyeSIsInB1cnBvc2VTdHJpbmciOiJJbXBvcnQgaW1hZ2Vz
		IGZvciBjb2xvdXIgc2FtcGxpbmcifSx7ImZpbGVBY2Nlc3NMb2NhdGlvbiI6
		InVzZXJTZWxlY3RlZEZpbGVzIiwiZmlsZUFjY2Vzc01vZGUiOiJyZWFkV3Jp
		dGUiLCJwdXJwb3NlIjoiZmlsZUFjY2VzcyJ9LHsiZmlsZUFjY2Vzc0xvY2F0
		aW9uIjoicGljdHVyZUZvbGRlciIsImZpbGVBY2Nlc3NNb2RlIjoicmVhZFdy
		aXRlIiwicHVycG9zZSI6ImZpbGVBY2Nlc3MifV0sInN1cHBvcnRlZERldmlj
		ZUZhbWlsaWVzIjpbInBhZCIsInBob25lIl0sInN1cHBvcnRlZEludGVyZmFj
		ZU9yaWVudGF0aW9ucyI6W3sicG9ydHJhaXQiOnt9fSx7ImxhbmRzY2FwZVJp
		Z2h0Ijp7fX0seyJsYW5kc2NhcGVMZWZ0Ijp7fX0seyJwb3J0cmFpdFVwc2lk
		ZURvd24iOnsiY29uZGl0aW9uIjp7ImRldmljZUZhbWlsaWVzIjpbInBhZCJd
		fX19XX1dfV0sInRhcmdldHMiOlsiQXBwTW9kdWxlIl0sInR5cGUiOnsiZXhl
		Y3V0YWJsZSI6bnVsbH19XSwidGFyZ2V0TWFwIjp7IkFwcE1vZHVsZSI6eyJk
		ZXBlbmRlbmNpZXMiOltdLCJleGNsdWRlIjpbXSwibmFtZSI6IkFwcE1vZHVs
		ZSIsInBhdGgiOiIuIiwicmVzb3VyY2VzIjpbXSwic2V0dGluZ3MiOlt7Imtp
		bmQiOnsiZW5hYmxlVXBjb21pbmdGZWF0dXJlIjp7Il8wIjoiQmFyZVNsYXNo
		UmVnZXhMaXRlcmFscyJ9fSwidG9vbCI6InN3aWZ0In1dLCJ0eXBlIjoiZXhl
		Y3V0YWJsZSJ9fSwidGFyZ2V0cyI6W3siZGVwZW5kZW5jaWVzIjpbXSwiZXhj
		bHVkZSI6W10sIm5hbWUiOiJBcHBNb2R1bGUiLCJwYXRoIjoiLiIsInJlc291
		cmNlcyI6W10sInNldHRpbmdzIjpbeyJraW5kIjp7ImVuYWJsZVVwY29taW5n
		RmVhdHVyZSI6eyJfMCI6IkJhcmVTbGFzaFJlZ2V4TGl0ZXJhbHMifX0sInRv
		b2wiOiJzd2lmdCJ9XSwidHlwZSI6ImV4ZWN1dGFibGUifV0sInRvb2xzVmVy
		c2lvbiI6eyJfdmVyc2lvbiI6IjUuOC4wIn19
		</data>
		<key>manifestHash</key>
		<data>
		F+myjvMzuSRdOQ0ETgVw6mlKF4pSVvirLBYanwSbFXI=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.8.0</string>
	</dict>
</dict>
</plist>
